a {
    text-decoration: none;
}

h4 {
    margin-bottom: 8px;
}

.movieDetails {
    background-color: aliceblue;
}

.movieNavBar {
    display: flex;
    flex: 1;
    flex-basis: 60%;
    justify-content: space-between;
    align-items: center;
    color: rgba(3, 37, 65);
    background-color: aliceblue;
    padding: 10px 20px;
}

.ratingProgressbar {
    width: 45px;
    height: 45px;
    padding: 3px;
    border-radius: 30px;
    background-color: black;
}

.footerContents {
    margin-bottom: 40px;
}

.footerContents h3 {
    margin-bottom: 10px;
}

.footerContents li {
    padding: 2px 0px;
}

.movieInfo {
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px 0px;
    background-color: rgba(3, 37, 65, 0.158);
}

.movieName {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

.facts {
    padding: 2px;
}

.facts * {
    padding-left: 5px;
}

.gradient {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40vw;
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0.433) 20%, rgba(191, 39, 39, 0) 50%);
}

.coverImage {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 40vw;
}

.profileImage {
    z-index: 2;
    background-size: cover;
    margin-top: -15vw;
    left: 3vw;
    position: relative;
    width: 15vw;
    height: 20vw;
    border-radius: 10px;
}

.overviewMovie {
    padding: 5px 20px;
    text-align: justify;
}

.movieLoading {
    margin: auto;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.favourites {
    margin: 0;
    display: flex;
}

.transparent {
    appearance: none;
}

.greyHeart {
    color: grey;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1.2);
}

.redHeart {
    color: red;
    transform: scale(1.4);
    transition: all 600ms cubic-bezier(0.18, -0.55, 0.265, 2.55);
}

.heartLoading {
    color: black;
    display: flex;
    justify-content: center;
    height: 26.44px;
    width: 36.72;
}

.heart {
    width: 40px;
    margin: 0;
}